<div class="footer-content">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-4">
                <a href="https://www.spotify.com" target="blank"> 
                    <p>Official Spotyfy web site:</p>
                    <img src="assets/img/Spotify_Logo_RGB_White.png" class="w-50" alt="">
                </a>
            </div>
            <div class="social col-4">
                <p>My networks</p>
                <ul class="row justify-content-around">
                    <li class="col-3"><a href="https://www.linkedin.com/in/adrilopmar" target="blank"><i class="icon fab fa-linkedin"></i></a></li>
                    <li class="col-3"><a href="https://github.com/Adrilopmar" target="blank"><i class="icon fab fa-github"></i></a></li>
                    <li class="col-3"><a href="https://www.instagram.com/arri_tatanet/" target="blank"><i class="icon fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="d-flex justify-content-center"><i class="copyR">Copyright 2022, made by me. All rights reserved to me and Spotify</i>  </p>
</div>