.footer-content{
    color: var(--none-changing-link-color);
    background-color: #191414;
    padding: 50px 0;
}
a{
    color: var(--none-changing-link-color);
    text-decoration: none;
}
.copyR{
    margin-top: 25px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.icon{
    margin-top: 10px;
    font-size: 46px;
}
img{
    opacity: 0.6;
}
.fa-linkedin:hover,
.fa-github:hover,
.fa-instagram:hover{
    cursor: pointer;
}
.fa-linkedin:hover{
    color: #0077b5;
}
.fa-github:hover{
    color: #333;
}
.fa-instagram:hover{
    color: #c13584;
}