<nav class="navbar navbar-expand-lg nav-bar">
    <div class="container-fluid">
        <a routerLink="home" class="logo-link"> <img src="assets/img/Spotify_Logo_RGB_Green.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="home"><b>Home</b> </a>
          <a class="nav-link" routerLink="newReleases"><b>New releases</b> </a>
          <a class="nav-link" routerLink="search"><b>Search</b></a>
          <a class="nav-link" routerLink="about"><b>About</b></a>
        </div>
      </div>
      <mat-slide-toggle (change)="onToggle()" name="switch" class="switch label-dark-mode">
        <fa-icon *ngIf="darkMode" [icon]="faMoon" class="switch-icon" ></fa-icon>
        <fa-icon *ngIf="!darkMode" [icon]="faSun" class="switch-icon"></fa-icon>
    </mat-slide-toggle>
    </div>
  </nav>