/* You can add global styles to this file, and also import other style files */
*{
    font-family:Arial, Helvetica, sans-serif;
}

body{
    --bkg-color: rgb(211, 207, 197);
    --text-color:rgb(37, 37, 37);
    --card-bg-color: rgb(121, 148, 49);
    --none-changing-text-color:#c0c0c0;
    /* negative theme */

}
body.dark-mode{
    --text-color:#c0c0c0;
    --bkg-color:rgb(44, 44, 44);
    --card-bg-color: rgb(58, 78, 6);
    /* negative theme */
}
body{
    background-color: var(--bkg-color);
    
}
ul{
    list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
