<div class="container">
    <div class="baralla justify-content-center">
        <div  class="carta ">
            <div class="">
                <img src="/assets/img/beer.jpg" alt="">
            </div>
            <div class="description">
                <!-- <p class="track">{{cancion.name}}</p>
                <p class="artist">{{cancion.artists[0].name}}</p>
                <p class="album">{{cancion.type}}</p> -->
            </div>
        </div>
        <div  class="carta ">
            <div class="">
                <img src="/assets/img/beer.jpg" alt="">
            </div>
            <div class="description">
                <!-- <p class="track">{{cancion.name}}</p>
                <p class="artist">{{cancion.artists[0].name}}</p>
                <p class="album">{{cancion.type}}</p> -->
            </div>
        </div>
        <div  class="carta ">
            <div class="">
                <img src="/assets/img/beer.jpg" alt="">
            </div>
            <div class="description">
                <!-- <p class="track">{{cancion.name}}</p>
                <p class="artist">{{cancion.artists[0].name}}</p>
                <p class="album">{{cancion.type}}</p> -->
            </div>
        </div>
        
        <div  class="carta ">
            <div class="">
                <img src="/assets/img/beer.jpg" alt="">
            </div>
            <div class="description">
                <!-- <p class="track">{{cancion.name}}</p>
                <p class="artist">{{cancion.artists[0].name}}</p>
                <p class="album">{{cancion.type}}</p> -->
            </div>
        </div>
        <div  class="carta ">
            <div class="">
                <img src="/assets/img/beer.jpg" alt="">
            </div>
            <div class="description">
                <!-- <p class="track">{{cancion.name}}</p>
                <p class="artist">{{cancion.artists[0].name}}</p>
                <p class="album">{{cancion.type}}</p> -->
            </div>
        </div>
        <div  class="carta ">
            <div class="">
                <img src="/assets/img/beer.jpg" alt="">
            </div>
            <div class="description">
                <!-- <p class="track">{{cancion.name}}</p>
                <p class="artist">{{cancion.artists[0].name}}</p>
                <p class="album">{{cancion.type}}</p> -->
            </div>
        </div>
        <div  class="carta ">
            <div class="">
                <img src="/assets/img/beer.jpg" alt="">
            </div>
            <div class="description">
                <!-- <p class="track">{{cancion.name}}</p>
                <p class="artist">{{cancion.artists[0].name}}</p>
                <p class="album">{{cancion.type}}</p> -->
            </div>
        </div>
        <div  class="carta ">
            <div class="">
                <img src="/assets/img/beer.jpg" alt="">
            </div>
            <div class="description">
                <!-- <p class="track">{{cancion.name}}</p>
                <p class="artist">{{cancion.artists[0].name}}</p>
                <p class="album">{{cancion.type}}</p> -->
            </div>
        </div>
    
</div>
</div>

<button (click)="getNewReleases()">asdasdasdasd</button>
<button (click)="conse()">conse</button>