
.container{
    width: 100%;
    height: 500px;
}
.osc{
    color: var(--text-color);
   font-size: 54px;
   margin-top: 25%;
   font-weight: bolder;
}
.cum{
    font-size: 124px;
    font-weight: bolder;
    color: rgb(240, 240, 240);
}